.controls {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.picker {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
}
.picker label {
    cursor: pointer;
    border: 0;
    padding: 0.5rem 1.5rem;
    background: #a4abb9;
    border-radius: 2px;
    cursor: pointer;
    font: inherit;
    color: #fff !important;
}

.picker label:hover,
.picker label:focus {
  background: #b3b9c6;
}

.picker .input {
  /* display: none; */
  opacity: 0;
  position: absolute;
  top: 60px;
  left: 180px;
  width: 180px;
}
.picker .input:focus + label {
    outline: 2px solid #f99f2a;
}

.preview {
  width: 10rem;
  height: 10rem;
  border: 2px solid #a4abb9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a4abb9;
  position: relative;
}

.preview p {
  margin: 0;
  padding: 1rem;
}

.preview img {
  object-fit: cover;
}